/** content alignment and background styling **/
html{
	min-height: 100%;
	min-width: 100%;
    overflow-y: hidden;
}

body {
    margin: 0;
    padding: 0;
    min-height: 100%;
    max-height: 100%;
    overflow-y: hidden;
}

#mainBox {
	display: flex;
	padding: 0;
	margin: 0;
    margin-right: 30px;
    max-height: 100%;
}

#cherriesLogo {
    position: absolute;
    top: 15px;
    left: 15px;
    height: 45px;
    width: 45px;
}

#cherriesBackground {
    /** flipping the image **/
    -webkit-transform: scaleX(-1);
    transform: ScaleX(-1);
    -o-transform: scaleX(-1);
    -ms-transform: ScaleX(-1);
    -moz-transform: ScaleX(-1);

    /** other styling **/
    min-height: 100vh;
    max-height: 100vh;
    width: calc(min(76vh, 100vw));
    margin-right: 25px;
}

#siteContent {
    width: 100%;
}

#sectionContents {
    overflow-wrap: break-word;
    overflow-y: auto;
    max-height: calc(100vh - 150px);
}

#dropdownBox {
    border: 2px dotted red;
    border-radius: 12px;
    width: calc(100% - 10px);
}

#playlistIframe {
    width: calc(100% - 10px);
    border-radius: 12px;
    height: 380px;

}

.subtitle {
    font-size: 25px;
    padding-top: 0;
}

.red {
    color: red;
}

h1, button {
    font-family: 'Noto Serif Display', serif;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 40px;
    max-width: calc(100% - 10px);
}

p, ul, ol, li {
    font-family: 'Outfit', sans-serif;
    margin: 0;
    font-size: 20px;
}

p, ul, ol {
    max-width: calc(100% - 10px);
}

button {
    font-size: 20px;
    border: none;
    cursor: pointer;
    background: none;
}

button:not(.list):after {
    content: '';
	display: block;
	height: 1.5px;
	width: 0px;
    transition: width 0.5s ease, background 0.5s ease
}

button:not(.list):hover:after {
	width: 100%;
	background: red;
}

button:hover {
    color: red;
    transition: 0.5s;
}

button:is(.list){
    text-decoration:underline wavy 2px rgba(255, 0, 0, 0);
    transition: text-decoration-color 0.5s;
}

button:is(.list):hover{
    text-decoration-color: rgba(255, 0, 0, 1);
}

@media handheld and (orientation: portrait), (max-aspect-ratio: 1.2) {
    #mainBox {
        flex-direction: column;
    }
    #cherriesBackground {
        filter: grayscale(300%) brightness(50%) invert(100%);
        margin-right: 0px;
    }
    #cherriesLogo {
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        text-align: center;
    }
    #siteContent {
        position: absolute;
        margin-top: 60px;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        text-align: center;
        width: 80%;
    }
    #sectionContents {
        overflow-y: scroll;
        max-height: calc(100vh - 200px)
    }
    ul, ol { 
        list-style-position: inside; 
        padding-left: 0;
    }
    button {
        color: red;
    } 
}